/* CSS for blog posts */
/*why are you here???*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 1;
    background: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

/*Nav*/

nav {
    height: auto;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((11vw-1300px) / 2);
}

nav a {
    text-decoration: none;
    color: #39ff14;
    padding: 1rem 2rem;
    border: none;
    background-color: #131111;
    cursor: pointer;
    border-radius: 8px;
}

nav a:hover {
    color: #000;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.logo {
    color: #39ff14;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    padding: 0 2 rem;
    display: flex;
    align-items: center;
}

body {
    text-align: center;
}

/*blog specific*/

.blog_text {
    max-width: 800px;
    color: #39ff14;
    margin: 40px auto;
    padding: 1px;
    background-color: #48ff00;
    border: 1px solid #00ff22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.blog_text h2 {
    margin-top: 0;
  }
  
.blog_text p {
    margin-bottom: 2px;
    padding: 0.5rem
  }
  
.blog_text figure {
    margin: 2px 0;
  }
  
.blog_text img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0.5rem;
  }
  
.blog_text figcaption {
    font-size: 14px;
    padding: 0.5rem;
    color: #666;
    margin-top: 15px;
  }
  
.blog_text ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    margin-top: 2px;
  }
  
.blog_text li {
    margin-bottom: 2px;
    padding: 0.2rem;
  }
  
.blog_text blockquote {
    padding: 20px;
    background-color: #6d4b4b;
    border-left: 10px solid #636363;
  }
  
.blog_text blockquote > p {
    margin-bottom: 0;
}

/*footer definitions*/

.foot3r {
    margin-top: auto;
    margin-bottom: auto;
    background: #000;
}

.foot3r-container {
    display: grid;
}

.foot_p {
    background-color: rgb(0, 0, 0);
    padding: 0% 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

footer {
    text-align: left;
    padding: 3px;
    background-color: black;
    color: #39ff14;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
    .target_image_column {
        display: grid;
    }
}
