.blog-main {
  padding: var(--space-7) 0;
}

.blog-list {
  display: grid;
  gap: var(--space-4);
}

.blog-link {
  font-size: 1.03rem;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}
